beautifulsoup4==4.9.1
matplotlib @ file:///opt/concourse/worker/volumes/live/59859a4b-794b-4c9f-51fd-a0ac1d1ab595/volume/matplotlib-base_1592846058943/work
numpy==1.17.5
pandas==1.2.4
seaborn==0.10.1
streamlit==0.74.1